<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
      
      <a class="navbar-brand me-0" style="width: 15%;" routerLink= "/home"><img src="assets/logo.png" class="mx-0" style="width: 40%;" alt="">TORO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>


        <div class="d-flex">
          <input class="form-control me-2"  type="search" list="search"  [(ngModel)]="search" placeholder="Buscar"
          aria-label="Search" style="border-color: #ff31d9; box-shadow: 0 0 5px purple;">
          <button class="btn btn-outline-success" style="border-color: #ff31d9;" (click)="buscar()"><i class="fa-solid fa-magnifying-glass" style="color: #ff31d9;"></i></button>
        </div>
        
      </div>
    </div>

    <div class="banner"></div>
    
  </nav>
  
  <!-- Lista de sugerencias para el campo de búsqueda -->
  <datalist id="search">
    <option value="pokemon"></option>
    <option value="tictactoe"></option>
    <option value="calculadora"></option>
    <option value="adivinarnumero"></option>
  <option value="clima"></option>
  <option value="rick&morty"></option>
</datalist>


