:host {
    padding-top: auto;
    margin: 0;
    
  }
  .container {
    background-image: url('fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h1 {
    margin-top: 10vh;
    font-size: 5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }
  
  
  .lead {
    color: #28a745; /* Verde Bootstrap */
  }
  
  .visit-counter {
    background-color: #ffc107; /* Amarillo Bootstrap */
    border: 2px solid #007bff; /* Borde azul */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
  }

  form {
    margin-top: -15vh;
  }

  .imagen {
    background-color: rgba(255, 255, 255, 0.838);
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30vh;
    right: 12vw;

    img {
      width: 130%;
    }
  }
  
