<div class="nga-container-sidebar">
    <ul class="list-unstyled p-2">
      <li class="mb-1">
        <button class="btn nga-btn-toggle align-items-center link-light rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#home-collapse" aria-expanded="false">
          API proyects
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a routerLink="/pokemon" class="link-light rounded">
                  <i class="fa-solid fa-dragon mt-1 me-2" style="color: rgb(255, 51, 218);"></i>Pokemon</a>
            </li>
            <li>
              <a routerLink="/rick&morty" class="link-light rounded">
                <i class="fa-solid fa-wine-bottle mt-1 me-2" style="color: #ff31d9;"></i>Rick & Morty</a>
            </li>
            <li>
              <a routerLink="/clima" class="link-light rounded"><i
                  class="fa-cloud fa-solid mt-1 me-2" style="color: #ff31d9;"></i>Clima App</a>
            </li>
            
          </ul>
        </div>
      </li>
      
      <li class="border-top my-3 me-2"></li>
      <li class="mb-1">
        <button class="btn nga-btn-toggle align-items-center link-light rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#orders-collapse" aria-expanded="false">
          Components
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a routerLink="/calculadora" class="link-light rounded">
                <i class="fas fa-calculator mt-1 me-2" style="color: #ff31d9;"></i>Calculadora</a>
            </li>
            <li>
              <a routerLink="/tictactoe" class="link-light rounded"><i
                  class="fas fa-x mt-1 me-2" style="color: #ff31d9;"></i>Tic-Tac-Toe</a>
            </li>
            <li>
              <a routerLink="/adivinarnumero" class="link-light rounded">
                <i class="fa-solid fa-arrow-up-1-9 mt-1 me-2" style="color: #ff31d9;"></i>Adivinar</a>
            </li>
            
          </ul>
        </div>
      </li>
    </ul>

  </div>
